*{
	border-radius: 0 !important;
}
i{
	margin: 0 10px;
}
.spacing{
	padding: 20px 0;
	margin: 10px 0;
}
a:hover{
	text-decoration: none;
}
a:focus{
	outline: none;
}

.hide{
	display: none;
}
/* ---------------------------------------------- */
/* Resusable classes */
/* -----------------------------------------------*/
.outline{
	border: 1px solid #bdc3c7 ;
}
.horizontal-all{
	height: 100vh;
}
.bottom{
	position: relative;
	top: 5%;
}
.inline-form-spacing{
	padding: 20px;
}
.border-ud{
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
}
.border-lr{
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;	
}
.border-d{
	border-bottom: 1px solid;
}
.border-u{
	border-top: 1px solid;
}
.border-grey{
	border-color: #c3c3c3;
}
.input-border-bottom,
.input-border-bottom:hover,
.input-border-bottom:active
{
	border: 0px;
	border-bottom: 1px solid #c3c3c3;
}
.input-border-bottom:focus{
	box-shadow: 1px 1px #000;
}
.child-spacing > li{
	padding: 2px 0px;
	margin: 10px 0;
}
/*------------- Flat UI colors-------------------- */
.asbestos{
	background-color: #7f8c8d;
}
.text-asbestos{
	color: #7f8c8d;
}
.midnight-blue{
	background-color: #2c3e50;
}
.text-midnight-blue
{
	color: #2c3e50;
}
.text-midnight-blue:hover{
	color: #263645;
}
.text-normal,
.text-normal:hover,
.text-normal:active,
.text-normal:focus{
	text-decoration: none;
	color: #000;
}
.text-normal:focus{
	outline: none;
	text-shadow: 0px 0px 17px;
}
.silver{
	background-color:#bdc3c7;
}
.text-silver{
	color:#bdc3c7;
}
.cloud{
	background-color: #ecf0f1;
}
.text-cloud{
	color:#ecf0f1;
}
.jumbo{
	background-color: #E9ECEF;
}
.text-jumbo{
	color: #E9ECEF;
}
/* --------------------------------------- */
				/* Log In */
/* --------------------------------------- */
.login-body{
	background-color: #ecf0f1;
}
.login-body > .container{
	height: 100vh;
}
.login-form{
	width: 500px;
	margin:auto;
	margin-top: 4%;
	border:1px solid #bdc3c7;
	padding: 2%;
}
@media screen and (max-width:550px)  {
	.login-form{
		width: 100%;
		border:1px solid #bdc3c7;
		padding: 2%;
		margin: 0;
		}
}
.login-form {
	background-color: #ecf0f1;
}
/* --------------------------------------- */
				/* Option */
/* --------------------------------------- */
.option{
	border: 1px solid;
	display: inline-block;
}
.option-img-wrapper{
	width: 100%;
	overflow: hidden;
}
.option:hover .option-img-wrapper img{
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.option-content-absolute{
	position: absolute;
	bottom: 0px;
	padding: 20px;
	display: none;
}
.option:hover{
	background-color: #000;
}
.option:hover .option-img-wrapper{
	opacity: 0.6;
}

.option:hover .option-content-absolute{
	display: block;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.option-title{
	padding: 20px;
	text-align: center;
}
.list-group{
	border-radius: 0;
	width:100%;
}
.list-group-item{
	border-radius: 0;
}

/* --------------------------------------------------------- */
/*  Page Feature */
/* --------------------------------------------------------- */
.title{
	padding: 10px;
	color: #a0a0a0;
	cursor: pointer;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.title:hover{
	color: #404040;
}
